body {
    color: #c0392b
}


.container {
    display: flex;
    flex-direction: column;
    padding: 40px;
    max-width: 864px;
    min-height: 100vh;
    border-right: 1px solid hsla(0, 0%, 100%, .1);
}


.menu {
    transition: padding 100ms linear;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    /* padding: 6rem 0; */
    /* background-color: white; */
}

.menu__inner {
    display: flex;
    align-items: center;
}