@import url(https://fonts.googleapis.com/css?family=Pacifico);

body {
    color: #807473;
    font-family: "Pacifico";
    /* width: 50%;
    margin: 0 auto; */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    padding: 40px;
    max-width: 864px;
    min-height: 100vh;
    border-right: 1px solid hsla(0, 0%, 100%, 0.1);
}

.menu {
    transition: padding 100ms linear;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.menu__inner {
    list-style: none;
}

.menu__inner li {
    display: inline-block;
}